quarkus:
  application:
    name: call
  log:
    level: ${LOG_LEVEL:INFO}
  mongodb:
    database: call
    connection-string: ${DB_CONNECTION:mongodb://root:root@mongo:27017}

call:
  max-time-response: 1 #in seconds
  statistics-cache: 0 #in seconds
  rates:
    - 
      until: 5 #in minutes
      cost: 0.10
    - 
      until: 43200
      cost: 0.05

# Configure the SmallRye Kafka connector
kafka:
  bootstrap:
    servers: "127.0.0.1:9092"

mp:
  messaging:
    incoming:
      incalls:
        connector: smallrye-kafka
        topic: calls
        broadcast: true
        value:
          deserializer: com.gdavidben.call.consumer.deserializer.CallDeserializer
    outgoing:
      outcalls:
        connector: smallrye-kafka
        topic: calls
        broadcast: true
        value:
          serializer: io.quarkus.kafka.client.serialization.ObjectMapperSerializer